#main-header {
    background-color: transparent; /* O usa 'white' para fondo blanco */
    color: black; /* Cambia el color de las letras a negro */
    margin-bottom: 20px;
    margin-top: 20px; /* Ajusta el margen inferior según sea necesario */
}

#main-header h1,
#main-header p {
    color: black; /* Asegura que los elementos h1 y p tengan el color negro */
}